*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$darkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$lightGrayishBlue: hsl(212, 23%, 69%);
$lightestGrayishBlue: hsl(210, 46%, 95%);
$font-stack: 'Noto Sans', sans-serif;

body {
  background-color: $lightestGrayishBlue;
  transition: 0.3s;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.centerCard {
  position: relative;
  background-color: white;
  display: flex;
  max-width: 1110px;
  font-family: $font-stack;
  border-radius: 10px;
  box-shadow: 0 0 1px black;
  border: none;
  .mainContent {
    padding: 2.5rem;
  }
  .drawersImgContainer {
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    width: 100%;
    border-radius: 10px 0 0 10px;
    background-position: center;
  }
  h1 {
    color: $darkGrayishBlue;
    font-weight: 500;
  }
  .mainP {
    margin-top: 2rem;
    color: $darkGrayishBlue;
    font-weight: 400;
  }
  .profileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    .pfpContainer {
      display: flex;
      align-items: center;
      %padding {
        padding-left: 1rem;
      }
      h2 {
        @extend %padding;
        color: $darkGrayishBlue;
        font-weight: 500;
        font-size: 1rem;
      }
      p {
        @extend %padding;
        color: $lightGrayishBlue;
        font-weight: 400;
        font-size: 0.8rem;
      }
    }
    .imgPfpContainer {
      background-image: url(../images/avatar-michelle.jpg);
      background-size: cover;
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
    div.shareIconOnClick {
      background-color: $lightGrayishBlue;
    }
    .shareIcon {
      background-color: $lightestGrayishBlue;
      padding: 0.9rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      border: none;
    }
    .shareIcon:hover {
      cursor: pointer;
    }
  }
}

.shareContainerOnClick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  padding: 1.25rem 2rem;
  position: absolute;
  background-color: $darkGrayishBlue;
  transition: 0.5s;
  right: -80px;
  bottom: 140px;

  p {
    color: $lightGrayishBlue;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  span {
    display: flex;
    gap: 15px;
  }
}

.shareContainerOnClick::before {
  content: '';
  position: absolute;
  bottom: -20px;
  margin: auto;
  left: 130px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid $darkGrayishBlue;
  transform: rotate(180deg);
}

.attribution {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .centerCard {
    display: flex;
    flex-direction: column;

    .profileContainer {
      margin: 1rem;
    }
    .drawersImgContainer {
      height: 200px;
      background-position: top;
      border-radius: 10px 10px 0px 0px;
    }
    .mainContent {
      padding: 0;
      h1 {
        margin: 1rem;
      }
      p {
        margin: 1rem;
      }
    }

    div.profileContainerOnClickForMobile {
      margin: 0;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      background-color: $darkGrayishBlue;
      border-radius: 0px 0px 10px 10px;

      .mobileShareContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;

        span {
          display: flex;
          gap: 10px;
        }
        P {
          font-family: $font-stack;
          text-transform: uppercase;
          color: $lightGrayishBlue;
          letter-spacing: 5px;
        }
      }
    }
  }
}
